@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background: #eee;
    /* #611F69 */
    padding: 0;
    margin: 0;
    font-family: 'Poppins',
        sans-serif;
}

.btn-dark {
    background-color: #611F69 !important;
}

.form-group a {
    color: #611F69 !important;
    text-transform: capitalize;
    font-size: 14px;
}